{% extends 'base.html.twig' %}

{% block body %}
<div class="wrapper p5">
    <article class="grid_4">
        <div class="wrapper">
            <figure class="img-indent"><img src="images/page1-img1.png" alt=""></figure>
            <div class="extra-wrap">
                <h4>Bio Éthanol</h4>
                <p class="p2">Conseil et installation du kit éthanol</p>
                <a class="button" href="{{ path ("bio")}}">Information</a>
            </div>
        </div>
    </article>
    <article class="grid_4">
        <div class="wrapper">
            <figure class="img-indent"><img src="images/page1-img2.png" alt=""></figure>
            <div class="extra-wrap">
                <h4>Pneumatiques</h4>
                <p class="p2">Commander vos pneumatiques aux meilleurs prix.</p>
                <a class="button" href="{{ path('price') }}">Information</a>
            </div>
        </div>
    </article>
    <article class="grid_4">
        <div class="wrapper">
            <figure class="img-indent"><img src="images/page1-img3.png" alt=""></figure>
            <div class="extra-wrap">
                <h4>Révision</h4>
                <p class="p2">Révision de votre véhicule, vidanges, contrôle des pièces d'usures.</p>
                <a class="button" href="{{ path('mecanic_index') }}">Information</a>
            </div>
        </div>
    </article>
</div>
<div class="container-bot">
    <div class="container-top">
        <div class="container">
            <div class="wrapper">
                <article class="grid_8">
                    <div class="indent-left">
                        <h1>DB Auto Pneus</h1>
                        <p class="prev-indent-bot">
                            <strong>DB Auto Pneus Saint-Savournin</strong> Situé proche des communes de Cadolive, Mimet,Allauch, Peypin et Gréasque vous serez accueilli dans un garage familliale qui sait se mettre à la porter de son interlocuteur. Chaque jours nous nous efforçons de vous satisfaire en suivant de près votre véhicule, et ce, que vous soyez un particulier ou une entreprise. Aprés 17 ans d'expérience dans la mécanique DB Auto Pneus à su s'entourer de professionnel compétent pour le controle technique, la carroserie et le parrallélisme. DB Auto Pneus sait se mettre à la place du client, c'est pour cela que vous pouvez profiter d'un vehicule de prêt (gratuit) pendant vos réparations. 
                        </p>
                    </div>
                    <div class="wrapper">
                        <div class="grid_4 alpha">
                            <div class="indent-left">
                                <div class="maxheight indent-bot">
                                    <h3>Mais encore</h3>
                                    <p class="prev-indent-bot">
                                    <a class="link-1" href="{{ path('mecanic_index') }}">Mécanique</a> DB Auto Pneus Saint-Savournin possède des outils de diagnostic adaptés à votre véhicule afin de pouvoir l'interroger lors des défauts. Notre garage auto se maintien à jour régulièrement à travers différentes formations professionnelles adaptées.
                                    </p>
                                    <a class="link-1" href="{{ path('bodywork_index') }}">Carosserie</a> Nous avons diversifié nos offres en ajoutant à notre panel de préstations la carrosserie. Une rayure, un vendalisme, un choc ainsi que le débosselage sans peinture.
                                </div>
                                <a class="button" href="{{ path('bodywork_index') }}">En savoir plus</a> 
                            </div>
                        </div>
                        <div class="grid_4 omega">
                            <div class="indent-left2">
                                <div class="maxheight indent-bot">
                                    <h3 class="prestation">Offres permanentes</h3>
                                    <p class="prev-indent-bot">
                                    <a class="link-1" href="{{ path('bodywork_index') }}">Carrosserie</a> DB Auto Pneus Saint-Savournin OFFRE pour chaque prestations de carrosserie un pressing intérieur de votre véhicules. Votre franchise vous sera offerte*
                                    </p>
                                    <p>*Demander les conditions à DB Auto Pneus</p>
                                </div>
                                <a class="button" href="{{ path('bodywork_index') }}">En savoir plus</a> 
                            </div>
                        </div>
                        
                    </article>
                    <article class="grid_4">
                        <div class="indent-left2 indent-top">
                            <div class="box p4">
                                <div class="padding">
                                    <div class="wrapper">
                                        <figure class="img-indent"><img src="images/page1-img4.png" alt=""></figure>
                                        <div class="extra-wrap">
                                            <h3 class="p0">Nous situer</h3>
                                        </div>
                                    </div>
                                    <p class="p1"><strong>DB Auto Pneus Saint-Savournin</strong></p>
                                    <p class="color-1 p0">101 quartier la loube 13119 Saint-Savournin</p>
                                </div>
                            </div>
                            <figure class="indent-bot text-center">
                                {% include 'banner.html.twig' %}
                            </figure>
                        </div>
                    </article>
                    <article class="grid_12">
                        <div class="indent-left2 indent-top">
                            <figure class="img-indent2"><img src="images/page2-img1.png" alt="logo_facebook"></figure>
                            <div class="extra-wrap"><strong class="text-1">Facebook</strong>
                                <p class="p0"><a class="link-2" href="https://www.facebook.com/DB-Auto-Pneus-saint-savournin-866440583535765/">Rejoignez-nous sur notre page facebook, pour suivre nos dèrnières actualités. Ne ratez pas nos promotions</a></p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
