{% extends 'base.html.twig' %}

{% block body %}
    <ul class="breadcrumb">
        <li><a href="{{ path('reprogramming_index') }}">{{ engine.yearConstruct.model.brand }}</a></li>
        <li><a href="{{ path('reprogramming_model', {'id': engine.yearConstruct.model.id}) }}">{{ engine.yearConstruct.model }}</a></li>
        <li><a href="{{ path('reprogramming_year_construct', {'id': engine.yearConstruct.id}) }}">{{ engine.yearConstruct }}</a></li>
        <li><a href="{{ path('reprogramming_engine', {'id': engine.id}) }}">{{ engine }}</a></li>
    </ul>

    <h1>Résumer</h1>
    <div>
        <ul>
            <li>Prix: {{engine.price}} €</li>
            <li>Puissance d'origine: {{engine.originPower}} ch </li>
            <li>Puissance modifé: {{engine.expectedPower}} ch </li>
        </ul>
        <p>
                GAIN: {{engine.gain}} ch
        </p>
    <div/>

    <div>
        {{render(controller('App\\Controller\\ReprogrammingController::getOptionsAction', {'fuel': engine.typeFuel}))}}
    </div>
{% endblock %}
