{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reprogrammation</h1>
    <section id="content">
    <div class="container-bot">
        <div class="container-top">
            <div class="container">
                <div class="wrapper">
                    <article class="grid_8">
                        <div class="indent-left">
                            <h3>Qu'est-ce-que la reprogrammation moteur ? </h3>
                            <div class="title">
                            <h6>Qui peut reprogrammer son vehicule ?</h6>
                            </div>
                            <p>En Europe nous avons la chance de compter une cinquantaines de marque de voitures, 600 modèles et des milliers de versions. Il est donc tout à fait normal d'hesiter entre un modèle et un autre. A ce jours la puissance fait partie de nos principaux critères (malgrès la limitation a 80km sur les routes secondaires!). Nous voulons un vrai confort de conduite, et ne pas avoir la sensation de pousser notre voiture dans une côte ou de mettre 2 voir 3 minutes pour doubler sur une autoroute. Pour vous eviter d'acheter un modèle plus puissant et donc plus chèr, nous pouvons reprogrammer votre moteur. Avec un logiciel informatique nous entrons dans le cerveau de votre voiture et modifions sa puissance. Cela vous reviendra donc moins cher de reprogrammer votre moteur, que d'acheter le modèle supérieur. Bien évidemment toutes les voitures sont reprogrammable </p>
                        </div>
                    </article>
                    <article class="grid_4">
                        <div class="indent-left2">
                            <h3>Consultez nos différents tarifs</h3>
                            <ul class="list-2 p1">
                                <li><a href="{{path ('price') }}#reprogrammation">Tarifs reprogrammation</a></li>
                            </ul>
                            <img class="img-displayed" src="{{asset('/images/reprogrammation/repro1.jpg')}}" alt="reprogrammation" width="200" height="250">
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="container-bot">
        <div class="container-top">
            <div class="container">
                <div class="wrapper">
                    <article class="grid_8">
                        <div class="indent-left">
                            <h3>Les avantages de la reprogrammation moteur </h3>
                                <div class="title">
                                    <h6> Elle permet entre autres de</h6>
                                </div>
                                <p>Le premier avantage à effectuer une reprogrammation moteur c'est de pouvoir augmenter la puissance et de couple. Nous allons pouvoir booster votre moteur de 10 à 30% de sa capasité actuelle. Vous y gagnerais en confort de conduite ! Dans un deuxieme temps vous allez pouvoir baisser les emitions polluantes de votre voiture, car pour une même vitesse le moteur est moins sollicité. Vous aurez aussi une réduction de consommation, après la modification. Comme le moteur est moins sollicités pendant les accélérations vous pouvez acquérir un gain allant jusqu'a 1L/100km.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="container-bot">
        <div class="container-top">
            <div class="container">
                <div class="wrapper">
                    <div class="indent-left">
                        <h3>Nos différents stages de reprogrammation</h3>
                        <div class="title">
                            <h6><a href="{{path ('price') }}#reprogrammation">Stage 1</a></h6>
                        </div>
                        <p>Le stage 1 chez DB Auto Pneus Saint-Savournin comprend une reprogrammation sur un banc de puissance. Aucune pièce mécanique ne sera changer. Le stage 1 vous permet de vous faire plaisir avec une puissance augmenté à moindre cout.</p>
                        <div class="title">
                            <h6><a href="{{path ('price') }}#reprogrammation">Stage 2</a></h6>
                        </div>
                        <p>Pour ceux qui souhaitent plus de puissance que celle acquise avec le stage 1, nous vous proposons le stage 2, qui permet au moteur de fonctionner de façon optimale, en remplaçant certains éléments moteur. Ce stage vous permet ainsi d'améliorer l'admission d'air avec un filtre à air sport ou une autre boîte a air, mais aussi d'améliorer l'évacuation des gaz d'échappement avec un échappement modifié. Pour ce stage, il est parfois obligatoire de renforcer certaines pieces mécaniques comme l'embrayage, qui doit être renforcé sur certains moteurs, pour qu'il puisse supporter plus de couple. Pour chaque stage, les pièces remplacées sont indiquées.</p>
                        <div class="title">
                            <h6><a href="{{path ('price') }}#reprogrammation">Stage 3</a></h6>
                        </div>
                        <p>Le stage 3 vous propose d'aller encore plus loin, en changeant les pièces internes, parties vitales du moteur ou turbo. Les modifications effectuées peuvent être l'augmentation de la cylindrée, le montage d'un kit arbres-à-cames ou encore le montage d'un plus grand turbocompreseur. Contrairement à ce que l'on pourrait penser, le stage 3 n'a pas toujours une influence négative sur la durée de vie du moteur. Parfois, les constructeurs développent un seul moteur de base et en font plusieurs évolutions de puissance en changeant le turbo et les injecteurs. Si l'on dispose du moteur le plus léger, nous pouvons alors facilement y monter le turbo et les injecteurs du modèle le plus puissant et cela sans nuire à la fiabilité du moteur, qui est prévu pour à la base.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <h3>Choisissez votre marque</h3>
    {% for brand in brands %}
        <a href="{{ path('reprogramming_model', {'id': brand.id}) }}" class="col-1">
            {% if brand.logoName is not null %}
                <img src="{{ brand.pathLogo }}" width=75>
            {% else %}
                {{brand.name}}
            {% endif %}
        </a>
        
    {% endfor %}
{% endblock %}
