{% extends 'base.html.twig' %}

{% block body %}
    <ul class="breadcrumb">
        <li><a href="{{ path('reprogramming_index') }}">{{ yearConstruct.model.brand }}</a></li>
        <li><a href="{{ path('reprogramming_model', {'id': yearConstruct.model.id}) }}">{{ yearConstruct.model }}</a></li>
        <li><a href="{{ path('reprogramming_year_construct', {'id': yearConstruct.id}) }}">{{ yearConstruct }}</a></li>
    </ul>

    <h2 class="title2 aligncenter">Choisissez la motorisation</h2>

    <div class="block-model col-4 radius-10">
        <h3 class="aligncenter background-black radius-10 sizel">{{ yearConstruct }}</h3>
        <ul>
            {% for engine in engines %}
                <li class="model-list">
                    <a href="{{ path('reprogramming_price', {'id': engine.id}) }}">{{ engine.name }}</a>
                </li>
                
                {% if not loop.last %} <hr /> {% endif %}
            {% else %}
            <li class="model-list"><a href="#">Aucune motorisation disponible actuellement</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
