<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}DB Auto Pneus{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/grid.css') }}">
        <link rel="stylesheet" href="{{ asset('build/style.css') }}">
        <link rel="stylesheet" href="{{ asset('build/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('build/fancybox/css/fancybox.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="main-bg">
            <div class="bg">
                <header>
                    <div class="main">
                        <div class="wrapper">
                            <h1>DB Auto Pneus</h1>
                            <div class="fright">
                                <div class="indent"> 
                                    <span class="address">DB Auto Pneus Saint-savournin</span> 
                                    <span class="phone">06 40 19 75 89</span> 
                                </div>
                            </div>
                        </div>
                        {{ include('navbar.html.twig') }}
                    </div>
                </header>
                <section id="content">
                    <div class="main">
                        <div class="container_12">
                            {% block body %}{% endblock %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
        {{ include('footer.html.twig') }}
        {{ include('core/modal.html.twig') }}
        <script src="{{ asset('build/jquery.js') }}"></script>
        <script src="{{ asset('build/contact.js') }}"></script>
        <script src="{{ asset('build/rating.js') }}"></script>
        <script src="{{ asset('build/fancybox/js/fancybox.js') }}"></script>
        <script>
            $(document).ready(function() {
                $('.fancybox').fancybox({
                    loop: true,
                    toolbar: true
                });
            });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
